---
const { 
  title, 
  image, 
  description, 
  pubDate, 
  link, 
  tags = [] 
} = Astro.props;
---

<div class="related-post mb-2">
  <div class="list-group-item-action d-flex align-items-center">
    <img 
      src={image.url} 
      alt={title} 
      class="me-3 rounded" 
      style="width: 150px; aspect-ratio: 16 / 9; object-fit:contain;" 
    />
    <div class="text-truncate">
      <p class="mb-1 fw-bold">{title}</p>
      <p class="mb-1">{description}</p>
      <small>{new Date(pubDate).toLocaleDateString()}</small>
      
      {tags && tags.length > 0 && (
        <div class="related-post-tags mt-2">
          {tags.map((tag) => (
            <span class="badge bg-secondary me-1 small">{tag}</span>
          ))}
        </div>
      )}
    </div>
  </div>
</div>

<style>
.related-post-tags .badge {
  font-size: 0.6rem;
  margin-right: 3px;
  margin-bottom: 3px;
}
</style>